body {
  background-image: url("https://images.unsplash.com/photo-1580252759636-33376068880c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");

  background-size: cover;
  position: relative;
}

.content {
  padding-top: 15%;
  color: #cc6600;
  font-family: Satisfy, cursive;
  font-size: 50px;
  margin-left: 10px;
}
h1 {
  font-size: 50px;
}
.iframe-container {
  margin-left: 350px;
  width: 100%;
  position: relative;
}
.iframe-container iframe {
  position: absolute;
  margin-left: 450px;
  width: 500px;
  height: 350px;
}
.iframe-container2 {
  margin-left: 350px;
  width: 100%;
  position: relative;
}
.iframe-container2 iframe {
  position: absolute;
  margin-top: 410px;
  margin-left: 450px;
  width: 500px;
  height: 350px;
}
#navbarNavAltMarkup {
  padding-top: 8px;
  color: #cc6600;
}
.navbar-brand {
  font-size: 40px;
  color: white !important;
}
.navbar-nav a {
  color: white !important;
  padding-left: 5px;
  font-size: 30px;
}
i {
  size: 50px;
}
