body{
    
    background-image: url(https://images.unsplash.com/photo-1432250767374-ee19cba37b52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=618&q=80);

    background-size: cover;
    
}

.content{

    text-align: center;
    padding-top: 25%;
    color: #CC6600;
    font-family: Satisfy, cursive;
}